<!doctype html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title}} - {{ site.title }}</title>
  <link rel="stylesheet" href="/css/foundation.min.css" />
  <link rel="stylesheet" href="/css/my.css" />
</head>


<body>
<div id="veryouterbox">
  <div class="grid-x">
    <div class="cell large-4 medium-3" style="text-align:left;">
      <a href="https://www.uaruhr.de/">
      <img src="/images/uaruhr.jpg" id="logo" />
      </a>
    </div>
    <div class="cell large-4 medium-6" style="font-size:24pt; text-align:center">
      Bioinformatics Teams
    </div>
    <div class="cell large-4 medium-3" style="text-align:right;">
      <a href="/index"><img src="/images/dnatower.png" class="partnerlogo" /></a>
    </div>
    {% include navigation.html %}

    <div class="cell large-12">
    <!--the cell div is closed in tail -->

  <!--the grid-x div is closed in tail -->
<!--the veryouterbox div is closed in tail -->
