<div class="cell navigation" style="margin-bottom: 3ex; margin-top: 2ex;">
<ul class="dropdown menu" data-dropdown-menu>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/news.html">News</a></li>
    <li><a href="/projects.html">Projects</a></li>
    <li><a href="https://www.uaruhr.de/impressum/index.html.en">Imprint</a></li>
    <li><a href="https://www.uaruhr.de/impressum/datenschutz.html.en">Privacy</a></li>
</ul>
</div>
