{% include head.html %}
{{ content }}

{% assign teamsfolder = site.pages | where_exp: "item" , "item.path contains 'teams/'" | sort: "group"  %}

<h3>Teams</h3>
<div class="grid-x">
  {% for page in teamsfolder %}
    {% assign image = page.image %}
    {% if image == nil %}{% assign image = "blank.png" %}{% endif %}
    <div class="cell" style="margin-bottom: 20px">
      <a href=https://{{ page.www }}>
      <img src="/teams/{{ image }}" style="float: left; margin-right:10px; max-width: 150px;" />
      <b>{{ page.group }}</b></a><br />
      <b>PI:</b> {{ page.pi }}<br />
      <b>Institution:</b> {{ page.institution }}<br />
      <b>Department:</b> {{ page.department }}<br />
      <b>Research topics:</b> {{ page.research }}<br />
      {% if page.other %}
      <b>Other affiliations:</b> {{ page.other }}<br />
      {% endif %}
    </div>
  {% endfor %}
</div>

<hr />

<h3>Former Teams</h3>
(ToDo)

<hr />

<div><br /></div>


<div class="grid-x"><p>
To be added to the list, please contact <a href="https://www.rahmannlab.de/people.html">Sven Rahmann</a> or <a href="https://johanneskoester.bitbucket.io/">Johannes Köster</a> with the details.
</p></div>


<div><br /></div>

{% include tail.html %}
